.App {
	text-align: center;
	display: flex;
}

.location_page {
	width: 100vw;
	height: 100vh;
	background-image: url("../questionmarks.jpeg");
}

.column_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hungryfac_page {
	background-image: none;
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
}

.flexwrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.margin_top_big {
	margin-top: 10vh;
}

.memberImage {
	height: 20vh;
	width: auto;
}
