.App {
	text-align: center;
	display: flex;
}

.location_page {
	width: 100vw;
	height: 100vh;
	background-image: url("../questionmarks.jpeg");
}

.column_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
